.card {

    margin: 5%;
    margin-top: 2% !important;

    img {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }
}

.cardImgContainer {
    margin: auto;
}

.list {
    div {
        padding-left: 0%;
    }
}